.weather {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.weather-summary {
  min-width: 300px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  background-color: #25528f;
}

.summary-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-summary .datetime {
  font-size: 10pt;
}

.weather-summary .city {
  font-size: 20pt;
}

.weather-summary .temperature {
  font-size: 30pt;
  line-height: 1;
}

.weather-summary .temperature-range {
  font-size: 10pt;
}

.weather-detail {
  padding: 10px 0px;
  width: 100%;
  font-size: 12pt;
  color: #333;
  border-bottom: 1px solid #25528f;
}

.weather-detail .detail-row {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin: 5px;
}

.weather-detail .label {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .weather {
    display: block;
  }
}
